<div class="middle-content-section">
  <h1>Rowers</h1>
  <%= link_to "Create Rowers", rowers_path, class: "button large" %>
  <%= link_to "Rower Roster", rowers_path, class: "button large" %>
</div>

<div class="middle-content-section">
  <h1>Boats</h1>
  <%= link_to "Create Boats", boats_path, class: "button large" %>
  <%= link_to "Boat Roster", boats_path, class: "button large" %>
</div>

<div class="middle-content-section">
  <h1>Practices</h1>
  <%= link_to "New Practice", boats_path, class: "button large" %>
  <%= link_to "Saved Practices", rowers_path, class: "button large" %>
</div>

